<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>COURSES</title>
</head>

<body>
  <h1>COURSES</h1>
  <a href="/students/">STUDENTS</a>
  <a href="/groups/">GROUPS</a>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Course</th>
      <th>Volume</th>
      <th>Students</th>
    <tr>{% for string in data %}
      <td>{{ string[0] }}</td>
      <td>
        <p>{{ string[1] }}</p>
        <p>{{ string[2] }}</p>
      </td>
      <td>{{ string[3] }}</td>
      <td>{% for id, name in string[4] %}
        <p>{{id}} {{ name }}<button>DELETE</button><button>LEAVE COUURSE</button></p>
        {% endfor %}<select>
          <option disabled>ADD</option>
        </select></td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>