<!DOCTYPE HTML>
<html>

<head>
   <meta charset="utf-8">
   <title>GROUPS</title>
</head>

<body>
   <h1>GROUPS</h1>
   <a href="/students/">STUDENTS</a>
   <p></p>
   <form action="/groups/find_le/"><input name="volume" min="0" step="1" required placeholder="less or equal"></input>
   <button type="submit">Find groups</button></form>
   <p></p>
   <table border="1">
      <tr>
         <th>ID</th>
         <th>Group</th>
         <th>Volume</th>
         <th>Students</th>
      </tr>
      <tr>{% for string in data %}
         <td>{{ string[0] }}</td>
         <td>{{ string[1] }}</td>
         <td>{{ string[2] }}</td>
         <td>{% for id, name in string[3] %}
           {{id}} {{ name }} 
           {% endfor %}
       </tr>
       {% endfor %}
   </table>
</body>

</html>