<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <title>STUDENTS</title>
</head>

<body>
  <h1>STUDENTS</h1>
  <a href="/groups/">GROUPS</a>
  <p></p>
  <form method="POST" action="/students/add/">
    <input required name="first_name" placeholder="First Name"></input>
    <input required name="last_name" placeholder="Last Name"></input>
    <button type="submit">Add new student</button>
  </form>
  <form action="/students/on_course/">
    <select name="course_name">
      Show selected course students:
      <option disabled>Select a course</option>
      {% for course in courses %}
      <option>{{ course }}</option>
      {% endfor %}
    </select>
    <button type="submit">SHOW</button>
  </form>
  <p></p>
  <table border="3">
    <tr>
      <th>ID</th>
      <th>Student</th>
      <th>Group</th>
      <th>Courses</th>
    </tr>
    <tr>{% for string in data %}
      <td>{{ string[0] }}</td>
      <td>
        {{ string[1] }}
        <form>
          <button formmethod="POST" type="submit" formaction="/students/delete/" name="id" value="{{ string[0] }}">
            DELETE
          </button>
        </form>
      </td>
      <td>{{ string[2] }}</td>
      <td>{% for name in string[3] %}
        <form method="POST">
          {{ name }}
          <button type="submit" formaction="/students/remove_from_course/" name="course_name" value="{{ name }}">
            LEAVE
          </button>
          <input type="hidden" name="student_id" value={{ string[0] }}></input>
        </form>
        {% endfor %}
        <form action="/students/add/to_course/">
          <select name="course_name">
            <option disabled>Select a course</option>
            {% for course in string[4] %}
            <option>{{ course }}</option>
            {% endfor %}
          </select>
          <input type="hidden" name="student_id" value={{ string[0] }}></input>
          <button formmethod="POST" type="submit">ADD</button>
        </form>
      </td>
    </tr>
    {% endfor %}


  </table>
</body>

</html>